:root {
  font-size: 16px;

  --background-color: white;
  --font-color: black;

  --overlay-background-color: rgba(255, 255, 255, .75);
  --overlay-text-background-color: #F33F00;
  --overlay-font-color: white;

  --active-background-color: #F33F00;
  --active-font-color: white;

  --invalid-background-color: #F8ACBE;
  --invalid-border-color: #F33F00;

  --dead-color: #F44336;
}

[data-theme="dark"] {
  --background-color: #2E2D32;
  --font-color: white;

  --overlay-background-color: rgba(18, 18, 20, .75);
  --overlay-text-background-color: #4424E3;

  --active-background-color: #4424E3;

  --invalid-background-color: #702335;
}

body {
    font-family: sans-serif;
    margin: .3em;
    width: 500px;
    overflow-x: hidden;

    background-color: var(--background-color);
    color: var(--font-color);
}

.tab {
    padding: .3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab svg {
  height: 1.2em;
}

.tab svg path {
  fill: var(--font-color);
}

.tab.active svg path {
  fill: var(--active-font-color);
}

.dead {
    color: var(--dead-color);
}

.dead div {
    text-decoration: line-through;
}

/* .active.dead div { */
/*     /1* background-color: green; *1/ */
/*     text-decoration: line-through; */
/* } */

.tab div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 100%;
}

img {
    width: 1.2em;
    height: 1.2em;
    margin-right: .3em;
}

.active {
    color: var(--active-font-color);
    background-color: var(--active-background-color);
    border-radius: .3em;
}

#info {
    margin-top: .3em;
    border-top: .1em solid;
    padding-left: .3em;
    opacity: .5;
}

input {
    width: 100%;
    border: none;
    padding: .3em;
    border-radius: .3em;

    background-color: var(--background-color);
    color: var(--font-color);
}

.invalid {
    background-color: var(--invalid-background-color);
    border: 1px solid var(--invalid-border-color);
}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-background-color);
}

#overlay span {
    color: var(--overlay-font-color);
    background-color: var(--overlay-text-background-color);
    padding: .3em;
    border-radius: .3em;
}

.hidden {
    display: none;
}

.selected.hidden {
  display: flex;
  opacity: 50%;
}
