!!! html
%html
  %head
    %meta{:charset=>"utf-8"}
    %title Options
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"options.css"}
  %body
    %h1 Shortcut
    %input#shortcut{:type=>"text", :placeholder=>"Ctrl+Alt+B"}
    %script{:src=>"options.js"}
